.admin__container{
    /* background-color:#222226; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    flex-direction: column;
}
.admin__container nav {
    display: flex;
}
.admin__container nav > a:visited{
    text-decoration: none;
}


.admin__container nav > a{
   
    
    padding: 10px;
}

.admin__nav__button{
    text-align: center;
    width:70px;
    height:20px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
}