.admin__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    flex-direction: column;
}

.admin__container nav > a:visited{
    text-decoration: none;
}


.admin__container nav > a{
    padding: 10px;
}