.cookies__container{
        /* background-color: #222226;
        color:#F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        border: 1px solid black;
     */
     background-color: #9cdab0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    border-left: 1px solid #F2F2F2;
    box-shadow: -9px 20px 29px 6px #1a74d8;
}

.cookies__section{
        font-size: large;
        text-align: justify;
        width: 75%;
        height: auto;
        padding: 15px;
}

@media only screen and (max-width: 600px) {
        .cookies__container{
            overflow-y: scroll;
        }
        .cookies__section{
                font-size:small;
                overflow-y: scroll;
        }
    }