
/* footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    
    background-color:blue;
    height: auto;
    width:100%;
}

footer a{
    color: white;
    text-decoration: none;
}
footer section{
    width: 33%;
    text-align: center;
} */

.footer__container{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


a{
    text-decoration: none;
}