/* body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:100%;
    border: 1px solid black;
} */
.index__container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* width:100%; */
    /* background-color: #222226; */
    /* border: 1px solid black; */
}

.index__add{
    flex: 1;
    border: 1px solid #F2F2F2;
    box-shadow: -9px 0px 29px 0px #f2f2f2;
}

.index__add img{
    width: 100%;
    height: 100%;
}

.index__main{
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.index__cam{
    margin-top: 20px;
    width: 80%;
    height: 50%;
    border: 1px solid #F2F2F2;
    box-shadow: -9px 0px 29px 0px #f2f2f2;
}

.index__donators{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.index__donators-podium{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
}

.podium-position{
    width: fit-content;
    min-width: 110px;
    max-width: 200px;
}

.index__donador{
    color: #222226;
}

.index__donador-1{
    background-color:gold;
   padding: 80px 10px 35px 10px;
   border: 3px solid #f2f2f2;
}

.index__donador-2{
    background-color: silver;
  padding: 45px 10px 35px 10px;
  border: 2px solid #f2f2f2;
} 

.index__donador-3{
    background-color: #CD7F32;
    padding: 25px 10px 35px 10px;
    border: 1px solid #f2f2f2;
}

.donators-button{
    text-align: center;
    width: 70px;
    height: 20px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #0511f2;
    color: #F2F2F2;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #0000D6;
    border-right: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #0000D6;
    border-radius: 5px;
}

aside{
    color: #F2F2F2;
}

@media only screen and (max-width: 600px) {
    .index__cam{
        box-shadow: 0px 0px 0px 0px #f2f2f2;
    }
    .index__add{
        box-shadow: 0px 0px 0px 0px #f2f2f2;
        border:0px;
    }
    .index__add img{
        display:none;
    }
    .donators-button{
        margin-top:10px;
    }

}