.inicio__container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 75%;
    /* border: 1px solid #f2f2f2; */
    color: black;
    font-size:large;
    

}

.inicio__section{
    background-color: #9cdab0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid black; */
    animation-duration: 3s;
    animation-name: slideout;
}
.inicio__section__video{
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 3s;
    animation-name: slidein;
    
}
.inicio__video__box{
  
  width: 1000px;
  height: 360px;

}
.inicio__button{
  padding-top: 10px;
}

.booking-button{
  text-align: center;
  width: 70px;
  height: 20px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #0511f2;
  color: #F2F2F2;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #0000D6;
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #0000D6;
  border-radius: 5px;
  cursor:pointer;
}
.booking-button:hover{
  transform: translateY(-0.25em);
}


  
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes slideout {
    from {
      margin-left: -100%;
      width: 100%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@media only screen and (max-width: 600px) {
  .inicio__container{
    text-align: justify;
  }
  .inicio__Section{
    width: 70%;
  }
  .inicio__video__box{
    max-width:230px;
    
  }
}