.layout__main{
    height: 71.4vw;
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
    /* display: flex;
    justify-content: center; */
}

a{
    text-decoration: none;
    color: black;
}