.register__container{
    width: 100%;
    height: 100%;   
    border: 1px solid red;
    /* background-image: url(../images/); */

}

.register__form{
    width: 30%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding: 1vw 0vw 2vw 0vw;
    border-radius: 35px;
}

.register__field{
    margin-bottom: 15px;
}

.register__input, .register__button{
    border-radius: 6px;
    border: none;
    outline: none;
}