<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wallie Ship{% endblock %}</title>
        <link rel="icon" href="./img/logo.png">
        {# assets\img\logo.png #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}            
        {% endblock %}
        {# <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9223346100904568"
        crossorigin="anonymous"></script> #}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>